.header{
    display: flex;
    justify-content: space-evenly;
    border-bottom:0.1px solid lightgrey;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    top: 0;
    position: sticky;
    z-index: 999;
    background-color: white !important;
}
.header-left{
    display: flex;
    align-items: center;
}
.header-left > img{
    width: 35px;
    object-fit: contain;
    margin-right: 10px;
}

.header-search{
    display: flex;
    padding: 10px;
    align-items: center;
    border-radius:5px ;
    color: gray;
    background-color:  #eff5f5;
    height: 20px;
}
.header-search > input{
    outline: none;
    border: none;
    background: none;
}
.header-right{
    display: flex;
}